form {
  margin-top: 30px;
  text-align: center;

}

.input {

  height: 40px;
  width: 400px;
  font-size: 1.2em;
}

form button {

  padding: 10px;
  font-size: 1.1em;
  margin-left: 10px;
  cursor: pointer;
}


table {

  margin-top: 50px;
  width: 70%;
  margin: 50px auto 50px auto;
  text-align: center;
}

th {
  
  height: 30px;
  font-size: 1.1em;
  border-bottom: 1px solid black;
}

tr:nth-child(even) {

  background-color: whitesmoke;
}

.keyList {

  font-weight: bold ;
}